<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Incidence SDK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test Incidence Plugin</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="block" (click)="addDevice()">Beacon synchronization</ion-button>
    <ion-button expand="block" (click)="checkDevice()">Check Beacon</ion-button>
    <ion-button expand="block" (click)="deleteDevice()">Delete Beacon</ion-button>
    <ion-button expand="block" (click)="getDevice()">Get Beacon</ion-button>
    <ion-button expand="block" (click)="createIncidenceFlow()">Create Incidence Flow</ion-button> 
    <ion-button expand="block" (click)="createIncidence()">Create Incidence</ion-button>
    <ion-button expand="block" (click)="closeIncidence()">Close Incidence</ion-button>
    <ion-button expand="block" (click)="openEcommerce()">Ecommerce</ion-button>
  </div>
</ion-content>
